<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <p>This site has been created by Neha Gupta.It uses data from mapbox.com and weatherstack.com</p>
            <!--iframe class="portrait" src="https://files.mead.io/xQudkgkq?embed=true" width="479" height="468" style="border:none" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>-->
            <iframe src="https://files.mead.io/rRuqdlAO?embed=true" width="479" height="468" style="border:none" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
            <!--<img src= "C:\Users\NEHA GUPTA\Desktop\Documents\photo.jpg">-->
            </div>
        
        {{>footer}}

    </body>
</html>