<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <iframe class="portrait" src="https://files.mead.io/xQudkgkq?embed=true" width="479" height="468" style="border:none" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
        </div>
        
        
        
        {{>footer}}

    </body>
</html>